a{
    margin: 6%; 
    text-decoration: none; 
    color: black;
    padding: 1%
}
a:hover{
    background-color: white;
}
#nav{
    background-color: orangered;
    height: 10%;
}
img{
    height: 80px;
    border-radius: 15px;
 }
 h1{
    text-align: center; margin-top: 50px;
    text-shadow: 0.1em 0.1em 0.2em black
}